* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-main.block {
  display: none;
}

.animate {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -o-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  -o-transition: background-size 0.3s;
  transition: background-size 0.3s;
  left: 50%;
}

.animate:hover {
  background-size: 100% 2px;
}

.animateLeft {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -o-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  -o-transition: background-size 0.3s;
  transition: background-size 0.3s;
  left: 50%;
}

.animateLeft:hover {
  background-size: 80% 2px;
}

.nonActive {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.notActive:hover {
  color: #9E9E9F;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

html {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrap {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 35px;
  margin-top: 40px;
}

.header {
  margin-bottom: 26px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  font-size: 18px;
  letter-spacing: 3px;
}

.header__logo img {
  width: 65px;
}

.header a {
  color: #0A0A0B;
  text-decoration: none;
}

.header__txt {
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.header__txt small {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 10px;
  display: block;
  font-weight: 100;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  top: 0;
  left: 100%;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: #9E9E9F;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 36px;
  font-size: 14px;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  color: #0A0A0B;
}

.main-photo {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 40px;
}

.main-photo__txt {
  margin-top: 28px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}

.main-photo__txt small {
  display: block;
  margin-top: 12px;
  font-weight: 200;
}

.main-photo img {
  width: 80%;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.main-photo img:hover {
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.main-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 20vw);
  row-gap: 85px;
  -webkit-column-gap: 84px;
     -moz-column-gap: 84px;
          column-gap: 84px;
  margin-bottom: 85px;
}

.header__burger {
  display: none;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.gallery__img:hover {
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main-gallery-box__txt {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
}

.main-gallery-box__txt small {
  display: block;
  padding-top: 12px;
  font-weight: 200;
}

.foter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.foter-copyr {
  font-size: 12px;
  color: #9E9E9F;
  margin-bottom: 13px;
  letter-spacing: 2px;
}

.foter-copyr small {
  font-size: 12px;
  display: block;
  margin-bottom: 25px;
}

/*@media (max-width: 870px){
	position: fixed;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(10, 10vw);
	background-color: white;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}*/

@media (max-width: 1292px) {
  .main-gallery {
    row-gap: 75px;
    -webkit-column-gap: 74px;
       -moz-column-gap: 74px;
            column-gap: 74px;
  }
}

@media (max-width: 1100px) {
  .main-gallery {
    row-gap: 80px;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }

  .main-gallery-box__txt small {
    padding-top: 10px;
  }
}

@media (max-width: 870px) {
  .animate:hover {
    display: none;
  }

  .header.on {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .header.on img {
    display: none;
  }

  .header .on {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 10vw 10vw repeat(6, 6vw);
    margin-top: 30px;
  }

  .header-block__a {
    grid-row: 1/2;
    padding: 10px;
  }

  .header-block__b {
    grid-row: 4/5;
    padding: 10px;
  }

  .header-block__c {
    grid-row: 6/7;
    padding: 10px;
  }

  .header-block__d {
    grid-row: 7/8;
    padding: 10px;
  }

  .header-block__e {
    grid-row: 8/9;
    padding: 10px;
  }

  .header-block {
    display: none;
  }

  .dropdown-content {
    display: block;
  }

  .dropdown-content {
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-left: -30px;
  }

  .dropdown:hover .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-photo__txt {
    font-size: 10px;
  }

  .main-photo img {
    width: 100%;
  }

  .main-gallery {
    display: block;
    margin-bottom: 25px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 15;
    float: right;
  }

  .header__burger::before,
  .header__burger::after {
    content: " ";
    background-color: #0A0A0B;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__burger span {
    content: " ";
    background-color: #0A0A0B;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 9px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: 23px;
  }

  .header__burger::before {
    top: 15px;
  }

  .header__burger::after {
    bottom: -15px;
  }

  .header__burger.active {
    top: 7%;
    right: 2%;
    position: absolute;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }

  .header__burger.active span {
    display: none;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }

  .main-gallery-box__txt {
    font-size: 10px;
  }

  .foter-copyr {
    font-size: 10px;
  }

  .foter-copyr small {
    font-size: 10px;
  }
}

@media (max-width: 870px) and (max-width: 640px) {
  .header .on {
    grid-template-rows: 10vw 10vw repeat(6, 9vw);
  }
}

@media (max-width: 870px) and (max-width: 515px) {
  .header .on {
    grid-template-rows: 10vw 10vw repeat(6, 12vw);
  }
}

@media (max-width: 870px) and (max-width: 365px) {
  .header .on {
    grid-template-rows: 10vw 10vw repeat(6, 15vw);
  }
}

@media (max-width: 550px) {
  .main-gallery-box__txt {
    font-size: 8px;
  }
}

@media (max-width: 330px) {
  .header__txt {
    font-size: 20px;
  }
}